body {
    color:white;
    background-color:darkseagreen;
}

.fa {
    /*padding: 20px;
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;*/
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    /*background: #3B5998;*/
    color: #3B5998;
    color: teal;
}

table {
    border: 1px solid seagreen;
    border-collapse: collapse;
    width:100%;
    color:black;
    
}

table tr:nth-child(even) {
    background-color:lightgray;
}

table tr:nth-child(odd) {
    background-color:darkgray;
}

.container {
    background-color:darkseagreen;
}

.container1 {
    background-color:darkolivegreen;
    border-radius: 15px 15px 15px 15px;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
}

.container2 {
    border-radius: 15px 15px 15px 15px;
    background-color:darkseagreen;
}

.containerImage {
    border-radius: 15px 15px 15px 15px;
    background-color:darkolivegreen;
}

.positioning2 {
    margin-top:40px;
    height:120px;
    text-align:center;
}

.positioning3 {
    text-align:center;
}

.titleHeader {
    color:black;
}

.button {
    color:orange;
}

.instructions {
    color:black;
}

.news {
    background-color:darkolivegreen;
    color:white;
    border-radius: 15px 15px 15px 15px;
}

.resp {
    max-width:100%;
}

.whiteText {
    color:white;
}

.blackText {
    color:black;
}

.equal-test {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
}

.equal-test1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
    flex-item-align:center;
}

.positioning {
    margin-top:20px;
}

.well1 {
    height: 430px !important;
}

.well2 {
    height: 300px !important;
}

.well3 {
    height: 305px !important;
    border:1px solid white;
}

.well4 {
    height: 610px !important;
}

.well5 {
    height: 1200px !important;
    border:1px solid white;
}

.well6 {
    height: 385px !important;
}

.well7 {
    height: 565px !important;
}

.well8 {
    height: 430px !important;
    border:1px solid white;
}

.well9 {
    height: 460px !important;
    border:1px solid white;
}

.well10 {
    height: 1060px !important;
    border:1px solid white;
}

.well11 {
    margin-top:20px;
}

.well12 {
    height: 470px !important;
    border:1px solid white;
}

.well13 {
    height: 265px !important;
    border:1px solid white;
    image-orientation:auto;
}

.backgroundFix {
    background-color:darkolivegreen;
    border-color:darkolivegreen;
}

.block {
    color:darkolivegreen;
}

.deleteButton {
    border-radius:20%;
}

.errorColor {
    color:orange;
}

@media screen and (max-width:845px) {
    .header {  
        visibility:hidden;
    }

    .header {
        visibility:hidden;
    }
}

@media screen and (max-width:770px) {
    /*
    .header {
        display:block; 
    }

    .header {
        display:block; 
    }
    */
}

@media screen and (max-width:930px) {
    
    #membershipImages {
        display:none; 
    }

    #membershipImages {
        display:none;
    } 
}

.btn-success {
    background-color:darkolivegreen;
    /* #33691E */
    /*background-color:#008B8B;*/
    color:darkseagreen;
    border-color:darkseagreen;
}

.btn-success:hover {
    background-color:darkseagreen;
    color:darkolivegreen;
    border-color:darkolivegreen;
}

.label-success {
    background-color:darkseagreen;
}

.gallery {
    border-radius: 15px 15px 15px 15px;
    max-height:100%;
    max-width:100%;
}

.form-control1 {
    background-color:darkolivegreen;
    max-width:60%;
}


/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: teal;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: teal;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}



