body {
    color:white;
    background-color:darkseagreen;
}

.fa {
    /*padding: 20px;
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;*/
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    /*background: #3B5998;*/
    color: teal;
}

table {
    border: 1px solid seagreen;
    border-collapse: collapse;
    width:100%;
    color:black;
    
}

table tr:nth-child(even) {
    background-color:lightgray;
}

table tr:nth-child(odd) {
    background-color:darkgray;
}

.container {
    background-color:darkseagreen;
}

.container1 {
    background-color:darkolivegreen;
    border-radius: 15px 15px 15px 15px;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
}

.container2 {
    border-radius: 15px 15px 15px 15px;
    background-color:darkseagreen;
}

.button {
    color:orange;
}

.instructions {
    color:black;
}

.news {
    background-color:darkolivegreen;
    color:white;
    border-radius: 15px 15px 15px 15px;
}

.resp {
    max-width:100%;
}

.whiteText {
    color:white;
}

.blackText {
    color:black;
}

.equal-test {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
}

.equal-test1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
    flex-item-align:center;
}

.positioning {
    margin-top:20px;
}

.well1 {
    height: 430px !important;
}

.well2 {
    height: 300px !important;
}

.well3 {
    height: 305px !important;
    border:1px solid white;
}

.well4 {
    height: 610px !important;
}

.well5 {
    height: 1200px !important;
    border:1px solid white;
}

.well6 {
    height: 385px !important;
}

.well7 {
    height: 565px !important;
}

.well8 {
    height: 430px !important;
    border:1px solid white;
}

.deleteButton {
    border-radius:20%;
}

@media screen and (max-width:845px) {
    .header {  
        visibility:hidden;
    }

    .header {
        visibility:hidden;
    }
}

@media screen and (max-width:770px) {
    /*
    .header {
        display:block; 
    }

    .header {
        display:block; 
    }
    */
}

